:root {
    --corRosa: #DF3079;
    --corVermelho: #F22C3D;
    --corVerde: #3f9850;
    --corAzul: #2874A2;
    --corAmarelo: #CF850D;
    --corCinza: #787878;
}

.corRosa {
    color: var(--corRosa);
}

.corVermelho {
    color: var(--corVermelho);
}

.corVerde {
    color: var(--corVerde);
}

.corAzul {
    color: var(--corAzul)
}

.corAmarelo {
    color: var(--corAmarelo);
}

.corCinza {
    color: var(--corCinza);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #322f2a;
}

main {
    margin: auto;
    margin-top: 50px;
    padding: 20px 0px 20px 0px;
    width: 350px;
    border-radius: 8px;

    text-align: center;
    text-indent: 10px;
    background-color: rgb(237, 237, 14);
    box-shadow: 3px 2px 16px rgb(110, 100, 42);
}

main>h1 {
    padding-bottom: 10px;
}

h2,
h3 {
    padding: 5px;
}

.linux,
.corRosa,
.corVermelho,
.corVerde {
    font-family: linux-libertine, "Courier New", Courier, monospace;
}

#alert {
    color: #84631c;
}

#confirm {
    color: #FF9A57;
}

#prompt {
    color: #68F29F;
}

div {
    margin: 10px auto 10px auto;
    width: 300px;
    color: white;
}

.div_maior {
    width: 336px;
}

.header {
    background-color: #2F2F2F;
    color: white;
    text-align: start;
    padding: 5px;
    margin-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.body {
    background-color: #171717;
    text-align: start;
    padding: 5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

img {
    width: 100%;
}


#btn-alert,
#btn-confirm,
#btn-prompt {
    margin: 5px 0px 5px 0px;
    padding: 2px;
}

li {
    text-align: start;
    margin-left: 26px;
}

.bi-caret-right-fill {
    color: #4085DC;
}

table {
    margin-top: 30px;
    margin: auto;
    width: 50%;
    padding: 5px;
    background-color: #212121;
    color: white;
    border-radius: 5px;
}

table>tbody>tr>td {
    color: black;
    padding: 5px;
    border-top: 1px solid #424242;
    color: white;
}

.bi-exclamation {
    color: red;
    font-size: 2em;
}

.bi-lightbulb {
    color: rgb(113, 130, 79);
}

#n {
    display: none;
}

@media screen and (min-width: 768px) {
    main {
        width: 65%;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .linux {
        font-size: 1.5em;
    }

    div {
        width: 450px;
    }
}